---
interface Props {
  title?: string;
  description?: string;
}

const {
  title,
  description,
} = Astro.props;

const fullTitle = `${title ? `${title} | ` : '' }hitsujiwool's writings`;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Zen+Old+Mincho&family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{fullTitle}</title>
		{description && <meta name="description" content={description} />}

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:title" content={fullTitle} />
		{description && <meta property="og:description" content={description} />}

		<!-- Twitter -->
		<meta property="twitter:card" content="summary" />
		<meta property="twitter:url" content={Astro.url.href} />
		<meta property="twitter:title" content={fullTitle} />
		{description && <meta property="twitter:description" content={description} />}
	</head>
	<body>
		<header>
			<a class="home" href="/" aria-label="Back to home" data-astro-prefetch />
			<h1>
				<a href="/" astro-data-prefetch>hitsujiwool’s writings — mostly scribbles</a>
			</h1>
		</header>
		<slot />
	</body>
</html>

<style>
	.material-symbols-outlined {
		font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
	}
	html,
	body {
		margin: 0;
		font-family: "Inconsolata", "Zen Kaku Gothic New", sans-serif;
	}
	body {
		padding-bottom: 16px;
	}
	header {
		position: sticky;
		display: flex;
		align-items: center;
		background-color: #ffffffdd;
		top: 0;
		height: max-content;
		padding: 8px 8px;
		column-gap: 8px;
	}
	.home {
		line-height: 1;
		text-decoration: none;
		&::before {
			display: inline-block;
			content: "■";
		}
	}
	h1 {
		display: inline-block;
		box-sizing: border-box;
		font-weight: 400;
		font-style: normal;
		font-size: large;
		margin: 0;
		a {
			text-decoration: none;
			color: inherit;
		}
	}
</style>
